{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/photostack/photostack.css' %}" rel="stylesheet">
  <link href="{% static 'lib/fullpage-menu/fullpage-menu.css' %}" rel="stylesheet">
  <link href="{% static 'lib/cubeportfolio/cubeportfolio.css' %}" rel="stylesheet">
  <link href="{% static 'lib/superslides/superslides.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/ploy.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css'>
  <link href="{% static 'css/bar.css' %}" rel='stylesheet' type='text/css'> 
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/home/">Home</a>
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>
        <a href="/about/" class="active">About Us</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

  <div class="container">
    <div class="row mt3 presentation centered">
      <i class="icon ion-ios7-person-outline large-icon"></i>
      <h1 class="centered">ABOUT US</h1>
      <hr>
    </div>
    <div class="row presentation">
      <div class="col-lg-4 col-md-4">
        <h3>About Our Company</h3>
      </div>

      <div class="col-lg-4 col-md-4">
        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
      </div>

      <div class="col-lg-4 col-md-4">
        <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi. Dummy text of the printing and typesetting.</p>
      </div>
    </div>
    <!-- /row -->
  </div>

  <div class="container mt2">
    <div class="row presentation">
      <div class="col-lg-4 col-md-4">
        <h3>Company Profile</h3>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>112</h3>
        <p>TOTAL EMPLOYEES</p>
        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>1400+</h3>
        <p>CLIENTS</p>
        <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi. Dummy text of the printing and typesetting.</p>
      </div>

      <div class="col-lg-4 col-md-4">
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>$ 2.000.000</h3>
        <p>REVENUE</p>
        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>8</h3>
        <p>YEARS OF EXPERIENCE</p>
        <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi. Dummy text of the printing and typesetting.</p>
      </div>
    </div>
    <!-- /row -->
  </div>

  <div class="container mt">
    <div class="row presentation">
      <div class="col-lg-1 col-md-1 centered">
        <i class="icon ion-ios7-flag-outline large-icon"></i>
        <h3>2006</h3>
      </div>
      <div class="col-lg-3 col-md-3">
        <h4>OUR BEGINNING</h4>
        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
      </div>
      <div class="col-lg-1 col-md-1 centered">
        <i class="icon ion-ios7-pricetag-outline large-icon"></i>
        <h3>2009</h3>
      </div>
      <div class="col-lg-3 col-md-3">
        <h4>OUR FIRST MILLION</h4>
        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
      </div>
      <div class="col-lg-1 col-md-1 centered">
        <i class="icon ion-ios7-people-outline large-icon"></i>
        <h3>2013</h3>
      </div>
      <div class="col-lg-3 col-md-3">
        <h4>100 EMPLOYEES</h4>
        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
      </div>
    </div>
    <!-- /row -->
  </div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/modernizr/modernizr.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/cubeportfolio/cubeportfolio.js' %}"></script>
  <script src="{% static 'lib/classie/classie.js' %}"></script>
  <script src="{% static 'lib/fullpage-menu/fullpage-menu.js' %}"></script>
  <script src="{% static 'lib/photostack/photostack.js' %}"></script>
  <script src="{% static 'lib/superslides/superslides.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/ploy.js' %}"></script>

</body>
</html>
