{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/photostack/photostack.css' %}" rel="stylesheet">
  <link href="{% static 'lib/fullpage-menu/fullpage-menu.css' %}" rel="stylesheet">
  <link href="{% static 'lib/cubeportfolio/cubeportfolio.css' %}" rel="stylesheet">
  <link href="{% static 'lib/superslides/superslides.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/ploy.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css'>
  <link href="{% static 'css/bar.css' %}" rel='stylesheet' type='text/css'> 
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/home/">Home</a>
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>
        <a href="/about/" class="active">About Us</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

  <div class="container">
    <div class="row mt3 presentation centered">
      <i class="icon ion-ios7-people-outline large-icon"></i>
      <h1 class="centered">OUR TEAM</h1>
      <hr>
    </div>
    <!-- /row -->
  </div>

  <section id="end" class="section-footer">
    <div class="container centered ptb">

      <div class="col-lg-4 col-md-4">
        <i class="icon ion-person large-icon"></i>
        <h3>Adarsh Ramchandran</h3>
        <p class="mt">
          <a href="https://www.linkedin.com/in/a-b-ramchandran/"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/adiramchandran"><i class="fa fa-github"></i></a>
          <a href="https://www.instagram.com/adi.b.r/"><i class="fa fa-instagram"></i></a>
        </p>
      </div>

      <div class="col-lg-4 col-md-4">
        <i class="icon ion-person large-icon"></i>
        <h3>Sharvil Kekre</h3>
        <p class="mt">
          <a href="https://www.linkedin.com/in/sharvilkekre/"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/skekre98"><i class="fa fa-github"></i></a>
          <a href="https://www.instagram.com/sharvil_the_creator/"><i class="fa fa-instagram"></i></a>
        </p>
      </div>

    </div>
  </section>

  

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/modernizr/modernizr.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/cubeportfolio/cubeportfolio.js' %}"></script>
  <script src="{% static 'lib/classie/classie.js' %}"></script>
  <script src="{% static 'lib/fullpage-menu/fullpage-menu.js' %}"></script>
  <script src="{% static 'lib/photostack/photostack.js' %}"></script>
  <script src="{% static 'lib/superslides/superslides.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/ploy.js' %}"></script>

</body>
</html>
