{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/photostack/photostack.css' %}" rel="stylesheet">
  <link href="{% static 'lib/fullpage-menu/fullpage-menu.css' %}" rel="stylesheet">
  <link href="{% static 'lib/cubeportfolio/cubeportfolio.css' %}" rel="stylesheet">
  <link href="{% static 'lib/superslides/superslides.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/ploy.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css'>
  <link href="{% static 'css/bar.css' %}" rel='stylesheet' type='text/css'>
  <style>
    small {
      color: rgb(0, 0, 0);
      display: block;
      opacity: 0;
    }
  </style> 
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>
        <a href="/about/">About Us</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <section id="slides">
      <ul class="slides-container">
        <li>
          <img src="{% static 'img/food1.jpg' %}" alt="" height="21%" width="21%">
        </li>
        <li>
          <img src="{% static 'img/food2.jpg' %}" alt="">
        </li>
        <li>
          <img src="{% static 'img/food3.jpg' %}" alt="">
        </li>
      </ul>
      <div id="bannertext">
        <h3>The Options Are</h3>
        <h1>ENDLESS</h1>
      </div>
    </section>
    
    <div class="container mt2">
      <div class="row presentation">
        <div class="col-lg-4 col-md-4">
          <h3>We Offer</h3>
        </div>
  
        <div class="col-lg-4 col-md-4">
          <i class="icon ion-ios7-pricetag-outline large-icon"></i>
          <h3>112</h3>
          <p>TOTAL EMPLOYEES</p>
          <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
        </div>
  
        <div class="col-lg-4 col-md-4">
          <h3>1400+</h3>
          <p>CLIENTS</p>
          <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi. Dummy text of the printing and typesetting.</p>
        </div>
  
        <div class="col-lg-4 col-md-4">
        </div>
  
        <div class="col-lg-4 col-md-4">
          <h3>$ 2.000.000</h3>
          <p>REVENUE</p>
          <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
      </div>
    </div>
  </div>

    

    

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/modernizr/modernizr.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/cubeportfolio/cubeportfolio.js' %}"></script>
  <script src="{% static 'lib/classie/classie.js' %}"></script>
  <script src="{% static 'lib/fullpage-menu/fullpage-menu.js' %}"></script>
  <script src="{% static 'lib/photostack/photostack.js' %}"></script>
  <script src="{% static 'lib/superslides/superslides.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/ploy.js' %}"></script>

</body>
</html>
